html {
  font-size: 14px; }

body {
  font: "Times New Roman", Georgia, Serif;
  color: #333; }

/* HOMEPAGE */
.maincontainer .box h1 {
  font-size: 24px; }
.maincontainer .p {
  color: #333; }

/* CONTACT PAGE */
.contact .p {
  color: #333; }

/* LOGIN PAGE */
#login .p {
  color: #333; }

/*# sourceMappingURL=style.css.map */
