$font-family: "Times New Roman", Georgia, Serif;
$primary-color: #333;
$primary-fontsize: 14px ;

html{
	font-size: $primary-fontsize;
}

body {
	font: $font-family;
	color: $primary-color;
}


@import "_home.scss";
@import "_contact.scss";
@import "_login.scss";
